*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    color: white;
    /* color: white; */
    /* background-color: black; */
}
section{
    min-height: 100vh;
    background-image: linear-gradient(rgba(56, 51, 51, 0.674), rgba(172, 163, 163, 0.674)), url(https://cafefcdn.com/thumb_w/650/pr/2022/photo1663139646925-1663139647042680459761-63798761920305.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.content{
    background-image: linear-gradient(rgba(56, 51, 51, 0.674), rgba(172, 163, 163, 0.674)), url(https://phunuvietnam.mediacdn.vn/179072216278405120/2022/9/12/10chua-tam-chuc-1662886460616185960289-1662946560274-1662946560504641324264.jpg);
}
section:first-of-type h1{
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
    z-index: 1;
}
.img-banner{
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    clip-path: circle(80px at center);
}
section:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 5rem; */
    background-color: white;
    margin-top: 50rem;
    position: relative;
    z-index: 3;
}
    /* section:nth-child(2)::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(to top, rgb(255, 255, 255), transparent);
        transform: translateY(-100%);
    } */
/* .ch{
    display: flex;
}


.heading-2{
    text-align: center;
    padding-top: 100px;
}

h2{
    margin-top :30px ;

}

.all{
    width: 80%;
    margin: auto;
 

}

.ch{
    width: 50%;
}

.kc{
width: 10%;
}

.gop{
    display: flex;
   padding: 30px 0 80px 0;
}

p{
    text-align: center;
    padding-top: 70px;
    font-size: larger;
}

img {
/* border: red solid 3px; */
/* border-radius: 20px;
width: 100%;

}


.ach{
    width: 40%;
}

.c2{
    text-align: end;
} */ 
.miennam_heading{
    font-size: 12px;
    /* color: white; */
    padding-left: 400px;
}
.chua{
    display: flex;
    padding: 30px 50px;
    margin-top: 50px;
    /* color: white; */
}

.content_left{
    width: 50%;
    padding-right: 50px;
    padding-left: 50px;
}

.content_right{
    width: 50%;
    padding-right: 20px;
}

img{
    border-radius: 4px;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

a{
    font-size: 20px;
}

.small_heading{
    font-size: 35px;
}
/* ----------------------------Footer---------------------- */
.footer{
    z-index: 3;
    margin-top: 100px;
    background-color: black;
    width: 100%;
}
.box-container{
    display: flex;
    min-height: 30vh;
    justify-content: center;
}
.box{
    font-size: 13px;
    color: white;
    padding: 20px 0;
    margin-right: 150px;
    
}
.box a{
    display: block ;
    color: white;
    font-size: 15px;
    padding: 10px 0;
}
.credit{
    
    text-align: center;
    color: white;
    margin-top: 10px;
}
.credit span{
    color: red;
}
